.qtable-hc {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  select {
  }
}

.q-tabulated {
  position: relative;
  .q-no-data {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    color: #8d8d8d;
    font-weight: bold;
  }
  .q-lazy-progress {
    padding-top: 3px;
    position: relative;
    padding-right: 34px !important;
    span {
      &.q-indicator {
        display: inline-block;
        background: #21ae1a;
        width: 2%;
        height: 3px;
      }
      &.q-lazy-progress-arrow-holder {
        position: relative;
        .q-lazy-progress-arrow {
          position: absolute;
          background: #88b7d5;
          border: 1px solid #c2e1f5;
          padding: 3px;
          font-size: 9px;
          bottom: -3px;
          color: #ffffff;
          font-weight: bold;
          &:after, &:before {
            right: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }
          &:after {
            border-color: rgba(136, 183, 213, 0);
            border-right-color: #88b7d5;
            border-width: 5px;
            margin-top: -5px;
          }
          &:before {
            border-color: rgba(194, 225, 245, 0);
            border-right-color: #c2e1f5;
            border-width: 6px;
            margin-top: -6px;
          }
        }
      }
    }
  }
  .qtable-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fffc;
    cursor: progress;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  > *:not(.qtable-overlay) {
    padding: 10px 5px 0;
  }
  .qtable-responsive {
    overflow-x: auto;
    padding-bottom: 10px;
    table {
      min-width: 60%;
      width: 100%;
      max-width: 98%;
      thead {
        tr {
          th {
            &.q-sorted {
              a.q-sorter {
                margin-left: 5px;
                &.qsort-desc {
                  &::after {
                    content: "\25bc";
                  }
                }
                &.qsort-asc {
                  &::after {
                    content: "\25b2";
                  }
                }
              }
            }
          }
        }
        input {
          display: inline-block;
          line-height: 1.5;
          padding: 1% 3%;
          min-width: 12px;
          width: 96%;
        }
      }
    }
  }
}

.hidden {
  display: none !important;
}

.qtable-fc {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  .qtable-pagination {
    padding: 0;
    list-style: none;
    li {
      list-style: none;
      display: inline-block;
      margin: 3px 1px;
      &.active {
        color: #e8e8e8;
        a:hover {
          background: inherit;
          cursor: default;
        }
      }
      a {
        cursor: pointer;
        padding: 4px 7px;
        border: 1px solid #ccc;
        font-weight: bold;
        font-size: 10px;
        min-width: 16px;
        display: block;
        text-align: center;
        &:hover {
          background: #e8e8e8;
        }
      }
    }
  }
}
