.qtable-fc {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}
.qtable-fc .qtable-pagination {
  padding: 0;
  list-style: none;
}
.qtable-fc .qtable-pagination li {
  list-style: none;
  display: inline-block;
  margin: 3px 1px;
}
.qtable-fc .qtable-pagination li.active {
  color: #e8e8e8;
}
.qtable-fc .qtable-pagination li.active a:hover {
  background: inherit;
  cursor: default;
}
.qtable-fc .qtable-pagination li a {
  cursor: pointer;
  padding: 4px 7px;
  border: 1px solid #ccc;
  font-weight: bold;
  font-size: 10px;
  min-width: 16px;
  display: block;
  text-align: center;
}
.qtable-fc .qtable-pagination li a:hover {
  background: #e8e8e8;
}
