.qtable-hc {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}
.q-tabulated {
  position: relative;
}
.q-tabulated .qtable-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fffc;
  cursor: progress;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.q-tabulated > *:not(.qtable-overlay) {
  padding: 10px 5px 0;
}
.q-tabulated .qtable-responsive {
  overflow-x: auto;
  padding-bottom: 10px;
}
.q-tabulated .qtable-responsive table {
  min-width: 60%;
  width: 100%;
  max-width: 98%;
}
.q-tabulated .qtable-responsive table thead tr th.q-sorted a.q-sorter {
  margin-left: 5px;
}
.q-tabulated .qtable-responsive table thead tr th.q-sorted a.q-sorter.qsort-desc::after {
  content: "\25bc";
}
.q-tabulated .qtable-responsive table thead tr th.q-sorted a.q-sorter.qsort-asc::after {
  content: "\25b2";
}
.q-tabulated .qtable-responsive table thead input {
  display: inline-block;
  line-height: 1.5;
  padding: 1% 3%;
  min-width: 12px;
  width: 96%;
}
.hidden {
  display: none !important;
}
.qtable-fc {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}
.qtable-fc .qtable-pagination {
  padding: 0;
  list-style: none;
}
.qtable-fc .qtable-pagination li {
  list-style: none;
  display: inline-block;
  margin: 3px 1px;
}
.qtable-fc .qtable-pagination li.active {
  color: #e8e8e8;
}
.qtable-fc .qtable-pagination li.active a:hover {
  background: inherit;
  cursor: default;
}
.qtable-fc .qtable-pagination li a {
  cursor: pointer;
  padding: 4px 7px;
  border: 1px solid #ccc;
  font-weight: bold;
  font-size: 10px;
  min-width: 16px;
  display: block;
  text-align: center;
}
.qtable-fc .qtable-pagination li a:hover {
  background: #e8e8e8;
}
